//custom variables//
$primary: #5265E1;
$secondary: #FA5959;

.dibuixblau{
    min-height: 70%;
    background-color: $primary;
    margin-left: 20%;
    margin-top: 25%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
} 

.dibuixblau2{
    min-height: 70%;
    background-color: $primary;
    margin-right: 30%;
    margin-top: 25%;
    margin-bottom: 10%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
} 

#pills-bookmark-tab, #pills-search-tab, #pills-share-tab{
    background-color: transparent;
    color: black; 
}
.nav-pills .nav-link.active {
    border-bottom: 3px solid red;
} 

.card{
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin:20px;      
}

h5{
  padding-top:10px;
}

.primera{
  top:-10px;
}
.segona{
  top:40px;
}
.tercera{
  top:100px;
}
.accordion-header{
  font-size:15px;
  border-top: 1px solid rgb(238, 234, 234);
  border-bottom: 1px solid rgb(238, 234, 234);
}
.accordion-item h2 button{
  display:block;
  text-align: left;
  text-decoration: none;
  position:relative;
}
.accordion-item h2 button img{
  position:absolute;
  right:20px;
}

.accordion-buttom.collapse .arrow{
  transform:rotate(90deg);
}
.arrow:hover{
    transform:rotate(180deg);
    filter: invert(50%) sepia(45%) saturate(3640%) hue-rotate(325deg) brightness(100%) contrast(96%);
}
  
.navbar-nav .nav-link:hover{
  color:$secondary;
}

.navbar-nav .nav-link.btn{
  background-color: $secondary;
  color:white;
}
 
.navbar-nav .nav-link.btn:hover{
  background-color: white;
  color:$secondary;
  border-color: $secondary; 
}

#pills-bookmark-tab:hover,#pills-search-tab:hover, #pills-share-tab:hover{
  color:$secondary;
}
.text-end .btn-primary:hover{
  background-color: white;
  border-color: $primary;
  color:$primary;
}
.accordion-button:hover{
  color:$secondary;
}

.btn.btn-secondary:hover{
  background-color: white;
  color:$secondary !important;
  border-color: $secondary; 
}
#emailId:hover{
  border-color:$secondary;
}
.social{
  color:white;
}
.social:hover{
  color:$secondary;
}

.socialIcon:hover{
  
 filter: invert(50%) sepia(45%) saturate(3640%) hue-rotate(325deg) brightness(100%) contrast(96%);
}



//importar el bootstrap//
@import "../node_modules/bootstrap/scss/bootstrap.scss";