//custom variables//
$primary: #5265E1;
$secondary: #FA5959;

.dibuixblau{
    min-height: 70%;
    background-color: $primary;
    margin-left: 20%;
    margin-top: 25%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
} 

.dibuixblau2{
    min-height: 70%;
    background-color: $primary;
    margin-right: 30%;
    margin-top: 25%;
    margin-bottom: 10%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
} 

#pills-bookmark-tab, #pills-search-tab, #pills-share-tab{
    background-color: transparent;
    color: black; 
}
#pills-tab a {
    border-bottom: 3px solid red;
}
.card{
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin:20px;      
}

h5{
  padding-top:10px;
}

.primera{
  top:0px;
}
.segona{
  top:100px;
}
.tercera{
  top:200px;
}

//importar el bootstrap//
@import "../node_modules/bootstrap/scss/bootstrap.scss";